@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/*
--- 01 TYPOGRAPHY SYSTEM

-Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font Weights:
Default : 400
medium:500
semi-bold:600
bold:700

-Line Heights:
Default : 1
Small:1.05
medium: 1.2
large: 1.8
Paragraph default : 1.6

--- 02 COLORS

### Primary

- Marine blue: hsl(213, 96%, 18%)
- Purplish blue: hsl(243, 100%, 62%)
- Pastel blue: hsl(228, 100%, 84%)
- Light blue: hsl(206, 94%, 87%)
- Strawberry red: hsl(354, 84%, 57%)

### Neutral

- Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%)
- Magnolia: hsl(217, 100%, 97%)
- Alabaster: hsl(231, 100%, 99%)
- White: hsl(0, 0%, 100%)

--- 03 SHADOWS 

--- 04 BORDER-RADIUS

--- 05 WHITESPACE

-Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  --color-red: hsl(354, 84%, 57%);

  --color-blue-1: hsl(213, 96%, 18%);
  --color-blue-2: hsl(243, 100%, 62%);
  --color-blue-3: hsl(228, 100%, 84%);
  --color-blue-4: hsl(206, 94%, 87%);

  --color-white-1: hsl(0, 0%, 100%);
  --color-white-2: hsl(231, 100%, 99%);
  --color-white-3: hsl(217, 100%, 97%);

  --color-grey-1: hsl(229, 24%, 87%);
  --color-grey-2: hsl(231, 11%, 63%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/*********************************/
/*********************************/
/* CONTAINER */

.container {
  background-color: var(--color-blue-4);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*********************************/

/*********************************/
/*********************************/
/* INNER CONTAINER */
.inner-container {
  width: 100rem;
  background-color: var(--color-white-1);
  padding: 1rem 1rem;
  border-radius: 11px;

  display: flex;
  justify-content: space-between;
}
/*********************************/

/*********************************/
/*********************************/
/* SIDE NAV */
.nav-sidebar {
  width: 30%;
  background-image: url("/bg-sidebar-desktop.svg");
  background-size: cover;
  padding: 6rem 3rem;
  border-radius: 9px;
}

/* STEPS */
.step-container {
  width: 80%;

  display: flex;
  gap: 2rem;
}

.step-container:not(:last-child) {
  margin-bottom: 3rem;
}

.step-number a {
  text-decoration: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 2px solid var(--color-white-1);
  color: var(--color-white-1);
  font-size: 2.4rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s;
}

.step-number a.active {
  background-color: var(--color-blue-4);
  color: #666;
  border: none;
}

.step-details {
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.step-details p:first-child {
  font-size: 1.2rem;
  color: var(--color-grey-1);
  font-weight: 500;
  letter-spacing: 0.2px;
}

.step-details p:last-child {
  letter-spacing: 0.6px;
  font-size: 1.8rem;
  color: var(--color-white-2);
}
/*********************************/

/*********************************/
/*********************************/
/* OUTLET CONTAINER */

.outlet-container {
  width: 70%;
}

/*********************************/

/*********************************/
/*********************************/
/* USER INFO */
.userinfo-container {
  padding: 5rem 6rem 0 6rem;
}

.userinfo-heading {
  font-size: 5.2rem;
  color: var(--color-blue-1);
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
}

.userinfo-text {
  color: var(--color-grey-2);
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

/* USER INFO FORM */
.userinfo-form {
  padding: 1rem 0rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.label-errors {
  margin-bottom: 1.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-errors label {
  font-size: 1.8rem;
  color: var(--color-blue-1);
  font-weight: 500;
}

.label-errors .userinfo-errors {
  font-size: 1.4rem;
  color: var(--color-red);
  font-weight: 500;
  letter-spacing: 0.2px;
}

.form-field input {
  width: 100%;
  font-size: 2rem;
  color: var(--color-blue-1);
  font-weight: 500;
  background-color: var(--color-white-1);
  border: 1px solid var(--color-grey-2);
  border-radius: 9px;
  padding: 1rem 2rem;

  transition: all 0.3s;
}

.form-field input::placeholder {
  color: var(--color-grey-2);
  letter-spacing: 1px;
}

.form-field input:focus {
  border: 1px solid var(--color-blue-1);
}

.form-field input.input-error {
  border: 1px solid var(--color-red);
}

.userinfo-form button {
  margin: 6.4rem 0 2.4rem 0;
  align-self: flex-end;
  text-transform: capitalize;
  background-color: var(--color-blue-1);
  color: var(--color-white-1);
  border: 1px solid var(--color-blue-1);
  border-radius: 9px;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
}

.userinfo-form button:hover,
.userinfo-form button:active {
  background-color: var(--color-blue-2);
  border: 1px solid var(--color-blue-2);
}

/*********************************/
/*********************************/
/* PLANS */
.plans-container {
  padding: 5rem 6rem 0 6rem;
}

.plans-heading {
  font-size: 5.2rem;
  color: var(--color-blue-1);
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
}

.plans-text {
  color: var(--color-grey-2);
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.plans-list {
  padding: 4rem 0rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-item {
  border: 1px solid var(--color-grey-1);
  border-radius: 11px;
  padding: 3rem 2rem;
  width: 30%;

  display: flex;
  flex-direction: column;
  gap: 4rem;

  transition: all 0.3s;
}

.plan-item.plan-active {
  border: 1px solid var(--color-blue-1);
  background-color: var(--color-white-3);
}

.plan-icon {
  height: 5rem;
  align-self: flex-start;
}

.plan-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.plan-details .plan-type {
  font-size: 2rem;
  color: var(--color-blue-1);
}

.plan-details .plan-price {
  color: var(--color-grey-2);
  font-size: 1.8rem;
  font-weight: 500;
}

.plan-details .plan-offer {
  color: var(--color-blue-1);
  font-size: 1.4rem;
}

/* PLANS TOGGLE SWITCH */
.plans-toggle {
  background-color: var(--color-white-3);
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.plans-toggle p {
  font-size: 1.8rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2.8rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(3rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}

.nav-btns {
  margin-top: 2rem;
  padding: 2rem 0rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.next-btn {
  background-color: var(--color-blue-1);
  color: var(--color-white-1);
  border: 1px solid var(--color-blue-1);
  border-radius: 9px;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
}

.next-btn:hover {
  background-color: var(--color-blue-2);
}

.back-btn {
  border: none;
  color: var(--color-grey-2);
  background-color: var(--color-white-1);
  border-radius: 9px;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
}

.back-btn:hover {
  color: var(--color-blue-1);
}
